# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
.env
.venv
env/
venv/

# pytest cache
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
